/* zerando a página do navegador*/
*{
    margin: 0px;
}

#estrutura{
    background-color: rgb(253, 227, 206); 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}


.titulo{
    margin-top: 450px;
}

p{  text-align: justify; 
    margin-right: 20px;
    text-indent: 20px; 
    font-family: Century Gothic;
    font-size: 14pt;
}

.menu-button {
    border-radius: 10px;
}

#estrutura #menu ul{
    display: flex;
    justify-content: center;
    padding: 0px;
    flex-wrap: nowrap;
} 

#estrutura #menu li{
    background-size: contain;
    list-style: none;
    width: 180px;
    text-align: center;
    padding: 0px 0px;
    padding-top: 10px;
    margin: 50px;
}

/* Consulta de mídia para telas menores */
@media (max-width: 600px) {
    #estrutura #menu li{
        width: 100%; 
        margin: 10px 0; 
    }
}

#estrutura #menu a{
    /* a href*/
    font-family: Arial;
    font-size: 10pt;
    text-decoration: none;
    color: rgb(253, 250, 250);
    background-color: #ab6164;
    background-size: cover;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}

#estrutura #menu a:hover{
    background-color: #7e424e;
    color: white;
}

#estrutura #menu a.atual{ 
    background-color: #61313a;
}

.card {
    margin:13vw;
    margin-top: 2vw;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .card {
        margin: 2vw;
    }
}

.card-body {

    background-color: rgb(253, 242, 231);
    padding: 0px;
}

.textohome {
    
    color: #333;
    line-height: 1.6;
}


#estrutura #conteudo .textohome{
    font-family: 'Times New Roman';
    font-size:1em;
    max-width: 85%;
    min-width: 300px;
    margin: 0 auto; 

}

#rodape {
    padding: 0px; font-family: arial; background-color: #712B31;
    color: white; height: 95px; bottom: 0;
    width: 100%; text-align: center;
}

#estrutura #conteudo .imghome img{
    width: 72vw; /* Ajuste este valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    #estrutura #conteudo .imghome img{
        width: 80vw; /* Ajuste este valor conforme necessário */
    }
}

#estrutura #conteudo .imghome{ text-align: center;}

/*forçando o rodape para baixo*/
.abaixar{clear: both;}